@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
	--c-gray-1: #f5f5f5;
	--c-gray-2: #eaeaea;
	--c-gray-3: #bbbbbb;
	--c-gray-4: #999999;
	--c-gray-5: #777777;
	--c-gray-6: #555555;

	--c-red: red;
	--c-green: #6feb1c;
	--c-orange: #ffb814;
	--c-yellow: #f8f32b;
	--c-teal: #23b8cc;

	--c-error: var(--c-red);
	--c-success: var(--c-green);
	--c-warning: var(--c-orange);

	--c-accent: var(--c-teal);
	--c-accent-hover: #20a8ba;
	--c-primary: black;
	--c-secondary: var(--c-gray-6);
	--c-background: white;

	--f-sans: 'Inter', -apple-system, 'Roboto', 'Helvetica', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--f-sans);
	font-size: 14px;
}

main {
	display: grid;
	grid-template-columns: 16rem auto;
	height: 100vh;
	width: 100vw;
}

.sidebar {
	border-right: 1px solid var(--c-gray-3);
	padding: 0.75rem;
}

.layer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem;
}

.layer-list .layer {
	border: 1px solid var(--c-gray-3);
	padding: 0.75rem;
	cursor: pointer;
}

.layer-list .layer:hover {
	background: var(--c-gray-2);
}

.layer-list .layer.selected {
	background: var(--c-accent);
}

.layer-list .layer.selected:hover {
	background: var(--c-accent-hover);
}
